body {
    background-color: rgb(255, 200, 200);
}
#home-page-heading {
    color: gray;
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    text-align: center;
    opacity: 70%;
}
h1 {
    color: black;
    text-align: left;
    font-family: 'Pacifico', cursive;
}

p {
}

.sprint2-cultural-para {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 400px 20px 200px;
}
.sprint2-cultural-h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 400px 0px 200px;  
}
.sprint2-cultural-h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 200px 40px 200px;
    color: grey;
}
.sprint2-cultural-h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 200px 40px 200px;
    border-bottom-width: 1px;
    border-color: black;
}

.sprint3-cultural-para {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 400px 20px 200px;
}
.sprint3-cultural-h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 400px 0px 200px;  
}
.sprint3-cultural-h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 200px 40px 200px;
    color: grey;
}
.sprint3-cultural-h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 200px 40px 200px;
    border-bottom-width: 1px;
    border-color: black;
}

.wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: #ffffff;
}

header {
    height: 160px;
}

nav, footer {
    clear: both;
    color: #ffffff;
    background-color: #aeaca8;
    height: 30px;
}

nav ul{
    margin: 0px;
    padding: 5px 0px 5px 30px;
}

nav li {
    display: inline;
    margin-right: 40px;
}

nav li a {
    color: #ffffff;
}

nav li a:hover, nav li a.current {color:#000000;
}

.intro-heading {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 200px 40px 200px;
    color: grey;
}

.intro-para {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 400px 20px 200px;
}