body {
    background-color: rgb(255, 200, 200);
}
#home-page-heading {
    color: gray;
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    text-align: center;
    opacity: 70%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    color: white;
    background-color: black;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
li a.active {
    background-color: pink;
    color: white;
}
.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: Arial, Arial, Helvetica, sans-serif;
    margin: 0;
}


h1 {
    color: black;
    text-align: left;
    font-family: 'Pacifico', cursive;
}

.sprint2-cultural-para {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto 20px 200px;
}
.sprint2-cultural-h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px auto 0px 200px;  
}
.sprint2-cultural-h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px auto 40px 200px;
    color: grey;
}
.sprint2-cultural-h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px auto 40px 200px;
    border-bottom-width: 1px;
    border-color: black;
}

.sprint3-cultural-para {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto 20px 200px;
}
.sprint3-cultural-h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px auto 0px 200px;  
}
.sprint3-cultural-h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px auto 40px 200px;
    color: grey;
}
.sprint3-cultural-h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px auto 40px 200px;
    border-bottom-width: 1px;
    border-color: black;
}

.wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: #ffffff;
}

header {
    height: 160px;
}

.intro-heading {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 200px 40px 200px;
    color: grey;
}

.intro-para {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 400px 20px 200px;
}