body {
    background-color: rgb(255, 200, 200);
}
#home-page-heading {
    color: gray;
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    text-align: center;
    opacity: 70%;
}
h1 {
    color: black;
    text-align: left;
    font-family: 'Pacifico', cursive;
}

p {
}

.sprint2-cultural-para {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 400px 20px 200px;
}
.sprint2-cultural-h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 400px 0px 200px;  
}
.sprint2-cultural-h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 200px 40px 200px;
    color: grey;
}
.sprint2-cultural-h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 200px 40px 200px;
    border-bottom-width: 1px;
    border-color: black;
}
nav {
    border-bottom: 1px solid black;
}

.home-nav ul {
    list-style-type: none;
    padding-left: 0;
    border-color: grey;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.home-nav ul li {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.home-nav {
    display: inline-block;
}

.intro-heading {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 200px 40px 200px;
    color: grey;
}

.intro-para {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 400px 20px 200px;
}